<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {{!-- <link rel='stylesheet' href='/stylesheets/lightbox.css' /> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>

<body>
    <div id="Contenido">
        <header>
            <img class="Logo" src="/images/LogoBlanco.png" alt="Op">
            <h1>Jurídico Contable</h1>
        </header>        
        {{{body}}}
        <footer>
            <p>Op Jurídico Contable &copy;2021</p>
        </footer>
    </div>

</body>

</html>
