
<nav>
    <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-bars"></i></button>
        <div class="dropdown-content">
            <a href="/salir">Cerrar Sesión</a>
            <a href="/admin/novedades">Novedades</a>
        </div>
    </div>
</nav>

<div class="nota-bienvenido">
    <p class="text-right">Bienvenido/a {{nombre}} {{apellido}} !!</p>   
</div>
<div class="login">
    <div class="boton">
        <a href="/salir" class="btn-enviar">Cerrar Sesión <i class="fa fa-sign-out"></i></a>
    </div>
</div>
